@import './colors.scss';

.guess-track {
  $column-width: 15vw;
  $column-gap: 2vw;
  min-width: 750px;
  width: 5 * $column-width + 4 * $column-gap;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(5, $column-width);
  grid-template-rows: 15vw 30vw 15vw;
  grid-column-gap: $column-gap;
  grid-row-gap: 1.5vw;

  .picker-option {
    user-select: none;
    position: relative;
    z-index: 0;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    border: solid 1px $quaternery;
    background-position: center;
    width: 100%;
    height: 100%;

    $duration: 120ms;
    $easing: ease-out;
    $border-width: 5px;

    transition: width $duration $easing, height $duration $easing, margin $duration $easing,
      border-width $duration $easing, top $duration $easing, left $duration $easing;

    p {
      width: 100%;
      text-align: center;
      padding: 10px 0;
      color: $primary;
      background-color: rgba($quinary, 0.8);
    }

    $size-increase: 20%;
    &:hover:not(.picker-option-selected):not(.dummy) {
      width: 100% + $size-increase;
      height: 100% + $size-increase;
      z-index: 1;
      margin: (-$size-increase / 2) 0 0 (-$size-increase / 2);
    }

    &.picker-option-selected {
      top: -$border-width;
      left: -$border-width;
      border-width: $border-width;
      border-color: $secondary;
    }

    &.dummy {
      border-style: dashed;
    }
  }

  .artist {
    grid-row: 3 / 4;
    &.picker-option-selected {
      transition: none;
      grid-column: 4 / span 2;
      grid-row: 2 / 3;
    }
  }

  .track {
    grid-row: 1 / 2;

    &.picker-option-selected {
      transition: none;
      grid-column: 1 / span 2;
      grid-row: 2 / 3;
    }
  }

  .guess-track-center {
    grid-column: 3 / 4;
    grid-row: 2 / 3;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 10% 25% 20%;
    grid-row-gap: 5%;

    .track-name {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
    }

    .divider {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $secondary;
    }

    .artist-name {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
    }

    .call-to-action {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}
